@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;700&display=swap");

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0.1);
    --border: 2rem solid rgba(0,0,0.1);
    --outline-hover: 2rem solid var(--black);
}

* {
    font-family: 'Popins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    -ms-overflow-style: none; /* IE and Edge */
    font-size: 62,5%;
    scrollbar-width: none;
}


body {
    background: #eee;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

.bodyCenter{
    top: 200px;
    margin: auto;
    width: 100%;
    padding: 10px;
}

button:focus {
    outline: none;
}

#menuButton {
    width: 45px;
    height: 40px;
    cursor: pointer;
    color: #49989e;
    background: transparent;
    border: none;
    display: none;
    font-size: 1.5rem;
}

#menuButton:focus {
    outline: none;
}

#menuButton:hover {
    color: #0d3c3f;
}


/* Strona logowania */
.main-Log{
    position: absolute;
    top: 200px;
    width: 50%;
    padding: 10px;
}

#przycisk{
    background-color: #666; 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

#przyciskre{
    background-color: #666; 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}



/* Formpage */

.formStyle{
    color: black;
    position: relative;
    top: 50px;
    width: 50%;
    padding: 10px;
}

/*Header*/
.header {
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

/* logo , my account and shopping cart */
/*nav .navbar-top {
    max-width: 1600px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/

.header .logo a{
    font-size:2.5rem;
    font-weight:bold;
    position: absolute;
    color: var(--black);
    top: 30px;
    left: 100px;
    width: 150px;
    height: 75px;
    text-decoration:none;
}
.header .logo a:hover{
    color: var(--orange);
    text-decoration:none;
}

.header .links a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .links a:hover{
    color: var(--orange);
}

.header .icons{
    position: absolute;
    color: var(--black);
    top: 40px;
    left: 1300px;
    width: 150px;
    height: 75px;
}



.header .shopping-cart {
    margin-left: 10px;
    font-size: 1.4rem;
}

.shopping-cart .sum-prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sum-prices {
    padding-left: 5px;
}

.sum-prices h6 {
    font-size: 0.9rem;
}

.shoppingCartButton {
    cursor: pointer;
}

.shoppingCartButton:hover,
.account:hover * {
    color: var(--orange);
}

.producstOnCart {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    background-color: #202020;
    width: 300px;
    height: 500px;
    color: #f0f0f0;
    z-index: 15;
    position: fixed;
    top: 20px;
    right: 0;
    text-align: center;
    animation: fade 1s;
}

.producstOnCart::-webkit-scrollbar {
    display: none;
}

@keyframes fade {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: none;
    }
}

.producstOnCart::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.hide {
    display: none;
    visibility: none;
}

.producstOnCart ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producstOnCart .buyItem {
    border-bottom: #aaa 1px solid;
    width: 90%;
    padding: 10px 0;
    display: flex;
}


.icons {
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    position: relative;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.main-section {
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

.product-container {
    max-width: 1600px;
    margin: auto;
    width: 88vw;
    position: relative;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.product {
    position: relative;
    text-align: center;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
}

.product-summary {
    font-size: 0.9rem;
    position: relative;
    padding: 10px 5px;
    height: 38%;
}

.product-summary > .price {
    position: absolute;
    left: 20px;
    bottom: 0;
}

    .product-summary {
        height: 30%;
    }

    .products {
        width: 80%;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .product-summary > p {
        display: none;
    }

    .producstOnCart {
        font-size: 0.8rem;
    }


    .product-summary .price {
        display: inline;
        left: 0;
    }

    .account-text {
        display: none;
    }

    .fas {
        font-size: 1rem;
    }

